@font-face{
	font-family:'global';
	src:url('../assets/font/global.TTF') format('truetype');
}

@font-face{
	font-family:'titulos';
	src:url('../assets/font/titulos.otf') format('truetype');
}




.todo{
	background:#2c3e50;
	overflow-y:auto;
	width:100vw;
	height:100vh;
	overflow-y: auto;
	display:flex;
	flex-flow:row wrap;

	align-items:flex-start;
	justify-content:flex-start;
}


.login-header{

	width:100%;
	height:30vh;
	background:url('../assets/img/bolos.jpg');
	background-size: cover;
	
}


.contenido-login{
	width:100%;
	height:30vh;
	background-color:rgba(44, 62, 80,0.6);
	border-bottom: 1px solid #000;
	color:#FFF;
	font-family:"titulos";
	

	display:flex;
	flex-flow:column wrap;

	align-items:center;
	justify-content:center;
}

.tituloLogoP{
	
	font-size:25px;
}

.titulosUno{
	width: 100%;
	display:flex;
	flex-flow:row wrap;

	align-items:center;
	justify-content:center;

}

.alrevesLogo{
	transform: scaleX(-1);
	
	font-size: 85px;
	margin-right: -11px;
	-webkit-text-fill-color:#ECF0F1;
	-webkit-text-stroke:#ECF0F1;
}

.tituloLogo{
	
	font-size: 85px;
	margin-left: -15px;
	-webkit-text-fill-color:#ECF0F1;
	-webkit-text-stroke:#ECF0F1;
}

.login-body{
	width:100%;
	height:450px;
	padding: 20px 20px 20px 20px;
	
	overflow-y:auto;

	display:flex;
	flex-flow:column wrap;

	align-items:center;
	justify-content:center;
}

.contenido-body{
	border:2px solid #DDD;
	border-radius: 5px;
	width: 100%;
	height: 380px;
	overflow-y: auto;

	display:flex;
	flex-flow:column wrap;

	align-items:center;
	justify-content:flex-start;
}

.txtBody{
	width: 100%;
	height: 220px;
	padding: 10px 20px;
	

	display:flex;
	flex-flow:row wrap;

	align-items:space-between;
	justify-content:flex-start;
}

.label{
	color: #DDD;
	font-size: 15px;
	margin: 0px 0px;
	font-family: "global";
	font-style: bold;
}


.inputs{
	border:2px solid #2C3E50;
	height: 40px;
	width: 100%;
	border-radius: 5px;
	padding: 5px 20px;
	margin: 0px 0px;
}

.btnBody{

	width: 100%;
	height: 130px;
	
	padding: 0px 30px;
	display:flex;
	flex-flow:column wrap;

	align-items:center;
	justify-content:center;
}

.btnIngresar{
	border-radius: 5px;

	height: 50px;
	width: 100%;
	background: #2980b9;
	color: #FFF;
	font-family: "global";
	font-size: 15px;

	display:flex;
	flex-flow:row wrap;

	align-items:center;
	justify-content:center;
}

.btnIngresar:active{
	box-shadow: 0px 0px 10px 0px #DDD;
}

.btnRegistro{
	width: 100%;
	padding: 0px -20px;
	display:flex;
	flex-flow:row no-wrap;

	align-items:center;
	justify-content:space-between;
}

.rojoLabel{
	color:#e74c3c;
	display: inline-block;
	font-size: 12px;
	font-family: "global";
}

.rojoLabel:active{
	color:#FFF;
}

.blancoLabel:active{
	color:#e74c3c;
}

.blancoLabel{
	color:#FFF;
	display: inline-block;
	font-size: 12px;
	font-family: "global";
}














