<div class="todo-home">
	
	<div class="parte-arriba">
		<div class="ladoFoto">
			<img src="{{ImagenAvatar}}" alt="" (click)="cambioImagen()" class="ImagenAva">
		</div>
		<div class="ladoUsuarios">
			<div class="cuadroUsuario">
				<div class="cuadroLabel">
					<div class="labelUs">Usuario</div>
				</div>
				<div class="cuadroTexto">
					<div class="labelContex">@KingMello</div>
				</div>
			</div>
			<div class="cuadroSaldo">
				<div class="cuadroLabel2">
					<div class="labelSa">Saldo $</div>
				</div>
				<div class="cuadroTexto">
					<div class="labelContex">1,200.00</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parteFecha">
		<div class="cuadroFecha">
			<div class="textoFecha">{{fecha}}</div>
		</div>
		<div class="cuadroPicker">
			<img src="assets/img/calendar.png" alt="" (click)="mostrarPicker()">
		</div>
	</div>


	
	<div class="contenido-resultados">
		<div class="resultados">
				<div class="listica" *ngFor="let res of resultados">
					
					<div class="img-listica">
						<img src="{{res.img}}" alt="" class="logo">
					</div>
					<div class="cont-listica">
						<div class="titulo-fecha">
							<span class="textoTituloFecha">{{res.nombre}}</span>
						</div>
						<div class="resultado-numeros {{res.nombre}}">
								
						</div>
					</div>
			</div>
		</div>
	</div>

	<div class="parteBotones">
		<div class="btnJugar" (click)="goToGame()">Jugar</div>
		<div class="btnHistorial">
			<img src="assets/img/history.png" class="imgHistorial">
			<span>Historial</span>
		</div>
	</div>	
</div>









<!--

<div class="contenido-resultados">
				<div class="resultados">
					<div class="listica" *ngFor="let res of resultados">
					
						<div class="img-listica">
							<img src="{{res.img}}" alt="" class="logo">
						</div>
						<div class="cont-listica">
							<div class="titulo-fecha">
								<span class="textoTituloFecha">{{res.nombre}}</span>
								<small class="textoTituloFecha">{{res.fecha}}</small>
							</div>
							<div class="resultado-numeros {{res.nombre}}">
								
							</div>
						</div>
					</div>
				</div>
			</div>

-->